USE [master]
GO
/****** Object:  Database [OrquestacionDB]    Script Date: 10/06/2026 23:28:47 ******/
CREATE DATABASE [OrquestacionDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'OrquestacionDB', FILENAME = N'C:\SQLData\OrquestacionDB.mdf' , SIZE = 270336KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'OrquestacionDB_log', FILENAME = N'C:\SQLData\Logs\OrquestacionDB_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [OrquestacionDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [OrquestacionDB]
GO
/****** Object:  User [INSTANCE-INTEGR\opc]    Script Date: 10/06/2026 23:28:48 ******/
CREATE USER [INSTANCE-INTEGR\opc] FOR LOGIN [INSTANCE-INTEGR\opc] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [app_orquestador]    Script Date: 10/06/2026 23:28:48 ******/
CREATE USER [app_orquestador] FOR LOGIN [app_orquestador] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [admin_tic]    Script Date: 10/06/2026 23:28:48 ******/
CREATE USER [admin_tic] FOR LOGIN [admin_tic] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Schema [cfg]    Script Date: 10/06/2026 23:28:49 ******/
CREATE SCHEMA [cfg]
GO
/****** Object:  Schema [orq]    Script Date: 10/06/2026 23:28:49 ******/
CREATE SCHEMA [orq]
GO
/****** Object:  Schema [seg]    Script Date: 10/06/2026 23:28:49 ******/
CREATE SCHEMA [seg]
GO
/****** Object:  Table [cfg].[CFG_Ambiente]    Script Date: 10/06/2026 23:28:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [cfg].[CFG_Ambiente](
	[IdAmbiente] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Activo] [bit] NOT NULL,
 CONSTRAINT [PK_CFG_Ambiente] PRIMARY KEY CLUSTERED 
(
	[IdAmbiente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_CFG_Ambiente_Nombre] UNIQUE NONCLUSTERED 
(
	[Nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [cfg].[CFG_BaseDatos]    Script Date: 10/06/2026 23:28:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [cfg].[CFG_BaseDatos](
	[IdBaseDatos] [int] IDENTITY(1,1) NOT NULL,
	[IdAmbiente] [int] NOT NULL,
	[NombreConexion] [varchar](100) NOT NULL,
	[Motor] [varchar](20) NOT NULL,
	[Host] [varchar](255) NOT NULL,
	[Puerto] [int] NOT NULL,
	[BaseDatos] [varchar](128) NOT NULL,
	[Usuario] [varchar](128) NOT NULL,
	[PasswordEncriptado] [varbinary](max) NOT NULL,
	[Activa] [bit] NOT NULL,
 CONSTRAINT [PK_CFG_BaseDatos] PRIMARY KEY CLUSTERED 
(
	[IdBaseDatos] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_CFG_BaseDatos_NombreAmbiente] UNIQUE NONCLUSTERED 
(
	[IdAmbiente] ASC,
	[NombreConexion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [cfg].[CFG_Endpoint]    Script Date: 10/06/2026 23:28:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [cfg].[CFG_Endpoint](
	[IdEndpoint] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
	[Metodo] [varchar](10) NOT NULL,
	[Url] [varchar](500) NOT NULL,
	[Modulo] [varchar](50) NOT NULL,
	[Activo] [bit] NOT NULL,
 CONSTRAINT [PK_CFG_Endpoint] PRIMARY KEY CLUSTERED 
(
	[IdEndpoint] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_CFG_Endpoint_Nombre] UNIQUE NONCLUSTERED 
(
	[Nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [cfg].[CFG_EndpointBaseDatos]    Script Date: 10/06/2026 23:28:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [cfg].[CFG_EndpointBaseDatos](
	[IdRelacion] [int] IDENTITY(1,1) NOT NULL,
	[IdEndpoint] [int] NOT NULL,
	[IdBaseDatos] [int] NOT NULL,
 CONSTRAINT [PK_CFG_EndpointBaseDatos] PRIMARY KEY CLUSTERED 
(
	[IdRelacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_CFG_EndpointBaseDatos] UNIQUE NONCLUSTERED 
(
	[IdEndpoint] ASC,
	[IdBaseDatos] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [cfg].[CFG_HistorialConfiguracion]    Script Date: 10/06/2026 23:28:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [cfg].[CFG_HistorialConfiguracion](
	[IdHistorial] [bigint] IDENTITY(1,1) NOT NULL,
	[TablaAfectada] [varchar](128) NOT NULL,
	[Registro] [nvarchar](500) NOT NULL,
	[ValorAnterior] [nvarchar](max) NULL,
	[ValorNuevo] [nvarchar](max) NULL,
	[Usuario] [varchar](128) NOT NULL,
	[FechaCambio] [datetime2](3) NOT NULL,
 CONSTRAINT [PK_CFG_HistorialConfiguracion] PRIMARY KEY CLUSTERED 
(
	[IdHistorial] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [cfg].[CFG_Parametro]    Script Date: 10/06/2026 23:28:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [cfg].[CFG_Parametro](
	[Nombre] [varchar](100) NOT NULL,
	[Valor] [nvarchar](max) NOT NULL,
	[Descripcion] [nvarchar](500) NULL,
 CONSTRAINT [PK_CFG_Parametro] PRIMARY KEY CLUSTERED 
(
	[Nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[actividad]    Script Date: 10/06/2026 23:28:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[actividad](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[IdentificacionProfesional] [numeric](18, 0) NOT NULL,
	[TipoIdentificacionProfesional] [int] NOT NULL,
	[ValorConsultaProcedimiento] [numeric](18, 0) NOT NULL,
	[historia_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[agendamiento]    Script Date: 10/06/2026 23:28:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[agendamiento](
	[sede] [nvarchar](50) NOT NULL,
	[tipoDoc] [int] NOT NULL,
	[numDoc] [nchar](10) NOT NULL,
	[tipoDoc_Prof] [int] NOT NULL,
	[numDoc_Prof] [int] NOT NULL,
	[fecha_cita] [date] NOT NULL,
	[hora_cita] [time](7) NULL,
	[usuario_asignacion] [nvarchar](50) NULL,
	[especialidad] [nvarchar](50) NOT NULL,
	[programa] [nvarchar](50) NULL,
	[id] [int] IDENTITY(1,1) NOT NULL,
	[estado] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dispensacion]    Script Date: 10/06/2026 23:28:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dispensacion](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdentificacionPrestador] [varchar](15) NOT NULL,
	[CodigoEntidadResponsable] [varchar](15) NOT NULL,
	[PuntoAtencion] [varchar](50) NOT NULL,
	[Fecha] [date] NOT NULL,
	[Numero] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[factura]    Script Date: 10/06/2026 23:28:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[factura](
	[id_factura] [bigint] NOT NULL,
	[id_factura_emisor] [int] NULL,
	[id_factura_adquiriente] [int] NULL,
	[indicador_tipo_operacion] [varchar](50) NULL,
	[profile_execution_id] [int] NULL,
	[numero_factura] [varchar](50) NOT NULL,
	[cufe] [varchar](100) NOT NULL,
	[fecha_emision] [date] NOT NULL,
	[hora_emision] [time](7) NULL,
	[fecha_vencimiento] [date] NULL,
	[tipo_factura] [varchar](5) NULL,
	[divisa_factura] [varchar](5) NULL,
	[numero_elementos] [int] NULL,
	[total_valor_bruto] [decimal](18, 2) NULL,
	[total_valor_base_imponible] [decimal](18, 2) NULL,
	[total_valor_bruto_atributos] [decimal](18, 2) NULL,
	[descuento_total] [decimal](18, 2) NULL,
	[cargo_total] [decimal](18, 2) NULL,
	[anticipo_total] [decimal](18, 2) NULL,
	[valor_factura] [decimal](18, 2) NULL,
	[fecha_creacion] [datetime] NULL,
	[radicado_siifa] [bit] NULL,
	[fecha_rad_siifa] [datetime] NULL,
	[id_factura_siifa] [varchar](100) NULL,
	[fecha_radica_erp] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_factura] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[cufe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[factura_tercero]    Script Date: 10/06/2026 23:28:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[factura_tercero](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_factura] [bigint] NOT NULL,
	[id_tercero] [int] NOT NULL,
	[rol] [varchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[historia_clinica]    Script Date: 10/06/2026 23:28:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[historia_clinica](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[IdentificacionPrestador] [numeric](18, 0) NOT NULL,
	[CodigoEntidadResponsable] [varchar](15) NOT NULL,
	[PlanBeneficios] [varchar](25) NULL,
	[ValorCopagoCuotaModeradora] [numeric](18, 0) NOT NULL,
	[TipoIdentificacionUsuario] [int] NOT NULL,
	[IdentificacionUsuario] [varchar](15) NOT NULL,
	[FechaAsignacionCita] [date] NULL,
	[FechaAtencion] [date] NOT NULL,
	[NumeroAutorizacion] [varchar](15) NULL,
	[CodigoCups] [varchar](20) NOT NULL,
	[CodigoCausaExterna] [numeric](2, 0) NOT NULL,
	[CodigoDiagnosticoPrincipal] [varchar](6) NULL,
	[Peso] [int] NOT NULL,
	[Talla] [int] NOT NULL,
	[PerimetroAbdominal] [int] NOT NULL,
	[Tasistolica] [int] NOT NULL,
	[Tadiastolica] [int] NOT NULL,
	[EdadDeLaMenarquia] [int] NOT NULL,
	[EdadMenopausiaPnal] [int] NOT NULL,
	[IMC] [numeric](5, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Paciente]    Script Date: 10/06/2026 23:28:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Paciente](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FechaNacimiento] [date] NOT NULL,
	[TipoIdentificacionUsuario] [int] NOT NULL,
	[IdentificacionUsuario] [varchar](15) NOT NULL,
	[MovilUsuario] [varchar](255) NULL,
	[DispensacionId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Prescripcion]    Script Date: 10/06/2026 23:28:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Prescripcion](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DispensacionId] [int] NOT NULL,
	[ProfPrescripcion] [varchar](50) NOT NULL,
	[EspProfesional] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Prestador]    Script Date: 10/06/2026 23:28:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Prestador](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DispensacionId] [int] NOT NULL,
	[IDRemitente] [varchar](50) NOT NULL,
	[IdUsuarioAutorizacion] [varchar](50) NOT NULL,
	[IdPrestador] [varchar](50) NOT NULL,
	[PYP] [bit] NULL,
	[ServicioAg1] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Productos]    Script Date: 10/06/2026 23:28:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Productos](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DispensacionId] [int] NOT NULL,
	[Cod_Med_Insumo] [varchar](50) NOT NULL,
	[Posologia] [varchar](50) NOT NULL,
	[Cantidad] [int] NOT NULL,
	[Valor] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SIIFA_Factura]    Script Date: 10/06/2026 23:28:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SIIFA_Factura](
	[IdFacturaSIIFA] [bigint] NOT NULL,
	[NumeroFactura] [varchar](100) NOT NULL,
	[NitEmisor] [varchar](20) NULL,
	[NitAdquiriente] [varchar](20) NULL,
	[CUFE] [varchar](150) NULL,
	[ValorFactura] [decimal](18, 2) NULL,
	[FechaEmision] [datetime] NULL,
	[FechaConsulta] [datetime] NOT NULL,
	[EstadoProceso] [varchar](30) NOT NULL,
	[Observacion] [varchar](1000) NULL,
	[PaginaOrigen] [int] NULL,
	[IdEjecucion] [bigint] NULL,
 CONSTRAINT [PK_SIIFA_Factura] PRIMARY KEY CLUSTERED 
(
	[IdFacturaSIIFA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SIIFA_FacturaERP]    Script Date: 10/06/2026 23:28:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SIIFA_FacturaERP](
	[IdRelacion] [bigint] IDENTITY(1,1) NOT NULL,
	[IdFacturaSIIFA] [bigint] NOT NULL,
	[ConsecutivoRipsAf] [bigint] NULL,
	[ConsecutivoRips] [bigint] NULL,
	[NumeroFacturaERP] [varchar](100) NULL,
	[NitPrestadorERP] [varchar](20) NULL,
	[EstadoERP] [smallint] NULL,
	[RadicaRips] [varchar](100) NULL,
	[FechaRadicaERP] [datetime] NULL,
	[FechaRelacion] [datetime] NOT NULL,
	[Resultado] [varchar](50) NULL,
	[Mensaje] [varchar](1000) NULL,
 CONSTRAINT [PK_SIIFA_FacturaERP] PRIMARY KEY CLUSTERED 
(
	[IdRelacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SIIFA_FacturaTraza]    Script Date: 10/06/2026 23:28:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SIIFA_FacturaTraza](
	[IdTraza] [bigint] IDENTITY(1,1) NOT NULL,
	[IdEjecucion] [bigint] NULL,
	[IdFacturaSIIFA] [bigint] NULL,
	[NumeroFactura] [varchar](100) NULL,
	[NitEmisor] [varchar](20) NULL,
	[Paso] [varchar](50) NOT NULL,
	[Resultado] [varchar](30) NOT NULL,
	[Mensaje] [nvarchar](2000) NULL,
	[DetalleJson] [nvarchar](max) NULL,
	[Fecha] [datetime] NOT NULL,
 CONSTRAINT [PK_SIIFA_FacturaTraza] PRIMARY KEY CLUSTERED 
(
	[IdTraza] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SIIFA_IntegracionLog]    Script Date: 10/06/2026 23:28:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SIIFA_IntegracionLog](
	[IdEjecucion] [bigint] IDENTITY(1,1) NOT NULL,
	[TipoEjecucion] [varchar](30) NOT NULL,
	[FechaInicio] [datetime] NOT NULL,
	[FechaFin] [datetime] NULL,
	[DuracionMs] [bigint] NULL,
	[Estado] [varchar](20) NOT NULL,
	[TotalRegistrosSIIFA] [int] NULL,
	[TotalPaginas] [int] NULL,
	[Procesadas] [int] NOT NULL,
	[Radicadas] [int] NOT NULL,
	[NoEncontradasERP] [int] NOT NULL,
	[NoRadicadasERP] [int] NOT NULL,
	[Errores] [int] NOT NULL,
	[Omitidas] [int] NOT NULL,
	[Workers] [int] NULL,
	[Usuario] [varchar](100) NULL,
	[DetalleJson] [nvarchar](max) NULL,
 CONSTRAINT [PK_SIIFA_IntegracionLog] PRIMARY KEY CLUSTERED 
(
	[IdEjecucion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SIIFA_LoteCheckpoint]    Script Date: 10/06/2026 23:28:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SIIFA_LoteCheckpoint](
	[Proceso] [varchar](50) NOT NULL,
	[UltimaPaginaProcesada] [int] NOT NULL,
	[TotalPaginasSiifa] [int] NULL,
	[TotalRegistrosSiifa] [int] NULL,
	[LoteCompletado] [bit] NOT NULL,
	[FechaActualizacion] [datetime] NOT NULL,
	[IdEjecucionUltima] [bigint] NULL,
 CONSTRAINT [PK_SIIFA_LoteCheckpoint] PRIMARY KEY CLUSTERED 
(
	[Proceso] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SIIFA_Radicado]    Script Date: 10/06/2026 23:28:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SIIFA_Radicado](
	[IdRadicado] [bigint] IDENTITY(1,1) NOT NULL,
	[IdFacturaSIIFA] [bigint] NOT NULL,
	[IdFacturaRadicadoSIIFA] [bigint] NULL,
	[RadicadoNumero] [varchar](100) NOT NULL,
	[FechaRadicacionSIIFA] [datetime] NOT NULL,
	[Estado] [varchar](30) NOT NULL,
	[HttpCode] [int] NULL,
	[RespuestaJson] [nvarchar](max) NULL,
	[ErrorMensaje] [nvarchar](max) NULL,
	[FechaRegistro] [datetime] NOT NULL,
	[SincronizadoERP] [bit] NOT NULL,
	[FechaSincronizacionERP] [datetime] NULL,
 CONSTRAINT [PK_SIIFA_Radicado] PRIMARY KEY CLUSTERED 
(
	[IdRadicado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SIIFA_Reintento]    Script Date: 10/06/2026 23:28:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SIIFA_Reintento](
	[IdReintento] [bigint] IDENTITY(1,1) NOT NULL,
	[IdFacturaSIIFA] [bigint] NOT NULL,
	[IdRadicado] [bigint] NULL,
	[Motivo] [varchar](100) NOT NULL,
	[Estado] [varchar](20) NOT NULL,
	[Intentos] [int] NOT NULL,
	[MaxIntentos] [int] NOT NULL,
	[ProximoIntento] [datetime] NULL,
	[UltimoError] [nvarchar](max) NULL,
	[FechaCreacion] [datetime] NOT NULL,
	[FechaUltimoIntento] [datetime] NULL,
	[PayloadJson] [nvarchar](max) NULL,
 CONSTRAINT [PK_SIIFA_Reintento] PRIMARY KEY CLUSTERED 
(
	[IdReintento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[suministros]    Script Date: 10/06/2026 23:28:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[suministros](
	[TipoTarifario] [varchar](100) NOT NULL,
	[Codigo_Tarifa] [nvarchar](100) NULL,
	[Codigo_Propio] [nvarchar](100) NOT NULL,
	[Descripcion] [nvarchar](255) NULL,
	[Valor] [int] NULL,
	[Activo] [bit] NULL,
	[Nit_Prestador] [varchar](45) NULL,
	[Razon_Social] [nvarchar](255) NULL,
	[Contrato] [varchar](45) NULL,
	[Tarifario] [nvarchar](20) NULL,
	[consecutivo_tarifa] [varchar](20) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[terceros]    Script Date: 10/06/2026 23:28:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[terceros](
	[id_tercero] [int] IDENTITY(1,1) NOT NULL,
	[tipo_persona] [varchar](2) NULL,
	[razon_social] [varchar](255) NOT NULL,
	[nombre_comercial] [varchar](255) NULL,
	[nit] [varchar](20) NOT NULL,
	[fecha_creacion] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_tercero] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[nit] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [orq].[agendamiento]    Script Date: 10/06/2026 23:28:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [orq].[agendamiento](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[sede] [varchar](50) NOT NULL,
	[tipo_doc] [varchar](10) NOT NULL,
	[num_doc] [varchar](20) NOT NULL,
	[tipo_doc_prof] [varchar](10) NOT NULL,
	[num_doc_prof] [varchar](20) NOT NULL,
	[fecha_cita] [date] NOT NULL,
	[hora_cita] [time](0) NULL,
	[usuario_asignacion] [varchar](50) NULL,
	[especialidad] [varchar](50) NOT NULL,
	[programa] [varchar](50) NULL,
	[usuario_creacion] [varchar](100) NULL,
	[fecha_creacion] [datetime] NULL,
	[usuario_modificacion] [varchar](100) NULL,
	[fecha_modificacion] [datetime] NULL,
	[estado] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [orq].[dispensacion]    Script Date: 10/06/2026 23:28:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [orq].[dispensacion](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[identificacion_prestador] [varchar](20) NOT NULL,
	[codigo_entidad_responsable] [varchar](15) NOT NULL,
	[punto_atencion] [varchar](50) NOT NULL,
	[fecha] [date] NOT NULL,
	[numero] [int] NOT NULL,
	[usuario_creacion] [varchar](100) NULL,
	[fecha_creacion] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [orq].[dispensacion_diagnostico]    Script Date: 10/06/2026 23:28:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [orq].[dispensacion_diagnostico](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[dispensacion_id] [int] NOT NULL,
	[id_dx] [varchar](15) NOT NULL,
	[tipo_serv] [varchar](50) NOT NULL,
	[servicio] [varchar](50) NOT NULL,
	[causa_externa] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [orq].[dispensacion_paciente]    Script Date: 10/06/2026 23:28:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [orq].[dispensacion_paciente](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[dispensacion_id] [int] NOT NULL,
	[fecha_nacimiento] [date] NOT NULL,
	[tipo_identificacion_usuario] [varchar](10) NOT NULL,
	[identificacion_usuario] [varchar](20) NOT NULL,
	[movil_usuario] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [orq].[dispensacion_prescripcion]    Script Date: 10/06/2026 23:28:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [orq].[dispensacion_prescripcion](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[dispensacion_id] [int] NOT NULL,
	[prof_prescripcion] [varchar](50) NOT NULL,
	[esp_profesional] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [orq].[dispensacion_prestador]    Script Date: 10/06/2026 23:28:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [orq].[dispensacion_prestador](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[dispensacion_id] [int] NOT NULL,
	[id_remitente] [varchar](50) NOT NULL,
	[id_usuario_autorizacion] [varchar](50) NOT NULL,
	[id_prestador] [varchar](50) NOT NULL,
	[pyp] [bit] NOT NULL,
	[servicio_ag1] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [orq].[dispensacion_producto]    Script Date: 10/06/2026 23:28:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [orq].[dispensacion_producto](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[dispensacion_id] [int] NOT NULL,
	[cod_med_insumo] [varchar](50) NOT NULL,
	[posologia] [varchar](50) NOT NULL,
	[cantidad] [int] NOT NULL,
	[valor] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [orq].[historia_clinica]    Script Date: 10/06/2026 23:28:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [orq].[historia_clinica](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[identificacion_prestador] [varchar](20) NOT NULL,
	[codigo_entidad_responsable] [varchar](15) NOT NULL,
	[plan_beneficios] [varchar](25) NULL,
	[valor_copago_cuota_moderadora] [decimal](18, 2) NOT NULL,
	[tipo_identificacion_usuario] [varchar](10) NOT NULL,
	[identificacion_usuario] [varchar](20) NOT NULL,
	[fecha_asignacion_cita] [date] NULL,
	[fecha_atencion] [date] NOT NULL,
	[numero_autorizacion] [varchar](20) NULL,
	[codigo_cups] [varchar](20) NOT NULL,
	[codigo_causa_externa] [int] NOT NULL,
	[codigo_diagnostico_principal] [varchar](10) NOT NULL,
	[peso] [int] NOT NULL,
	[talla] [int] NOT NULL,
	[perimetro_abdominal] [int] NOT NULL,
	[ta_sistolica] [int] NOT NULL,
	[ta_diastolica] [int] NOT NULL,
	[edad_menarquia] [int] NOT NULL,
	[edad_menopausia_pnal] [int] NOT NULL,
	[imc] [decimal](10, 2) NOT NULL,
	[usuario_creacion] [varchar](100) NULL,
	[fecha_creacion] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [orq].[historia_clinica_actividad]    Script Date: 10/06/2026 23:28:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [orq].[historia_clinica_actividad](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[historia_id] [int] NOT NULL,
	[identificacion_profesional] [varchar](20) NOT NULL,
	[tipo_identificacion_profesional] [varchar](10) NOT NULL,
	[valor_consulta_procedimiento] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [orq].[log_accesos]    Script Date: 10/06/2026 23:28:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [orq].[log_accesos](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[username] [varchar](100) NULL,
	[fecha_intento] [datetime2](7) NOT NULL,
	[resultado] [varchar](20) NOT NULL,
	[ip_origen] [varchar](50) NULL,
	[mensaje] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [orq].[log_procesos]    Script Date: 10/06/2026 23:28:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [orq].[log_procesos](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[servicio] [varchar](100) NOT NULL,
	[referencia] [varchar](100) NULL,
	[fecha_inicio] [datetime2](7) NOT NULL,
	[fecha_fin] [datetime2](7) NULL,
	[estado] [varchar](20) NOT NULL,
	[mensaje] [varchar](max) NULL,
	[intentos] [int] NULL,
	[usuario_creacion] [varchar](100) NULL,
	[fecha_creacion] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [orq].[resultados_procesos]    Script Date: 10/06/2026 23:28:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [orq].[resultados_procesos](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[tipo_proceso] [varchar](100) NOT NULL,
	[referencia] [varchar](100) NULL,
	[documento_soporte] [varchar](255) NULL,
	[valor] [decimal](18, 2) NULL,
	[saldo_factura] [decimal](18, 2) NULL,
	[delta] [decimal](18, 2) NULL,
	[fecha_proceso] [datetime2](7) NOT NULL,
	[usuario_creacion] [varchar](100) NULL,
	[fecha_creacion] [datetime2](7) NULL,
	[usuario_modificacion] [varchar](100) NULL,
	[fecha_modificacion] [datetime2](7) NULL,
	[observacion] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [orq].[scheduler_jobs]    Script Date: 10/06/2026 23:28:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [orq].[scheduler_jobs](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre_servicio] [varchar](100) NOT NULL,
	[cron_expression] [varchar](50) NOT NULL,
	[activo] [bit] NOT NULL,
	[parametros] [nvarchar](max) NULL,
	[ultima_ejecucion] [datetime2](7) NULL,
	[proxima_ejecucion] [datetime2](7) NULL,
	[max_reintentos] [int] NULL,
	[usuario_creacion] [varchar](100) NULL,
	[fecha_creacion] [datetime2](7) NULL,
	[usuario_modificacion] [varchar](100) NULL,
	[fecha_modificacion] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [orq].[usuarios]    Script Date: 10/06/2026 23:28:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [orq].[usuarios](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[username] [varchar](100) NOT NULL,
	[password_hash] [varchar](255) NOT NULL,
	[activo] [bit] NOT NULL,
	[fecha_creacion] [datetime2](7) NOT NULL,
	[ultimo_login] [datetime2](7) NULL,
	[tipo] [bit] NOT NULL,
	[autoriza_med] [bit] NULL,
	[tipoentidad] [varchar](50) NOT NULL,
	[nitentidad] [varchar](20) NOT NULL,
	[nombreentidad] [varchar](200) NOT NULL,
	[contactotecnico] [varchar](100) NULL,
	[correocontacto] [varchar](100) NULL,
	[telefonocontacto] [varchar](20) NULL,
	[IpPermitida] [varchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [seg].[acciones]    Script Date: 10/06/2026 23:28:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [seg].[acciones](
	[id_accion] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_accion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [seg].[modulos]    Script Date: 10/06/2026 23:28:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [seg].[modulos](
	[id_modulo] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](100) NOT NULL,
	[descripcion] [varchar](255) NULL,
	[activo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_modulo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [seg].[perfiles]    Script Date: 10/06/2026 23:28:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [seg].[perfiles](
	[id_perfil] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](100) NOT NULL,
	[descripcion] [varchar](255) NULL,
	[activo] [bit] NOT NULL,
	[fecha_creacion] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_perfil] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [seg].[permisos]    Script Date: 10/06/2026 23:28:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [seg].[permisos](
	[id_permiso] [int] IDENTITY(1,1) NOT NULL,
	[id_perfil] [int] NOT NULL,
	[id_modulo] [int] NOT NULL,
	[id_accion] [int] NOT NULL,
	[permitido] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_permiso] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_permiso] UNIQUE NONCLUSTERED 
(
	[id_perfil] ASC,
	[id_modulo] ASC,
	[id_accion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [seg].[usuario_endpoints]    Script Date: 10/06/2026 23:28:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [seg].[usuario_endpoints](
	[id_usuario_endpoint] [int] IDENTITY(1,1) NOT NULL,
	[id_usuario] [int] NOT NULL,
	[metodo_http] [varchar](10) NOT NULL,
	[endpoint] [varchar](255) NOT NULL,
	[permitido] [bit] NOT NULL,
	[activo] [bit] NOT NULL,
	[fecha_creacion] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_usuario_endpoint] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [seg].[usuario_perfil]    Script Date: 10/06/2026 23:28:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [seg].[usuario_perfil](
	[id_usuario_perfil] [int] IDENTITY(1,1) NOT NULL,
	[id_usuario] [int] NOT NULL,
	[id_perfil] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_usuario_perfil] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_CFG_BaseDatos_Ambiente]    Script Date: 10/06/2026 23:28:49 ******/
CREATE NONCLUSTERED INDEX [IX_CFG_BaseDatos_Ambiente] ON [cfg].[CFG_BaseDatos]
(
	[IdAmbiente] ASC,
	[Activa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_CFG_Endpoint_Modulo]    Script Date: 10/06/2026 23:28:49 ******/
CREATE NONCLUSTERED INDEX [IX_CFG_Endpoint_Modulo] ON [cfg].[CFG_Endpoint]
(
	[Modulo] ASC,
	[Activo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_CFG_Historial_TablaFecha]    Script Date: 10/06/2026 23:28:49 ******/
CREATE NONCLUSTERED INDEX [IX_CFG_Historial_TablaFecha] ON [cfg].[CFG_HistorialConfiguracion]
(
	[TablaAfectada] ASC,
	[FechaCambio] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_factura_adquiriente]    Script Date: 10/06/2026 23:28:49 ******/
CREATE NONCLUSTERED INDEX [idx_factura_adquiriente] ON [dbo].[factura]
(
	[id_factura_adquiriente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_factura_cufe]    Script Date: 10/06/2026 23:28:49 ******/
CREATE NONCLUSTERED INDEX [idx_factura_cufe] ON [dbo].[factura]
(
	[cufe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_factura_emisor]    Script Date: 10/06/2026 23:28:49 ******/
CREATE NONCLUSTERED INDEX [idx_factura_emisor] ON [dbo].[factura]
(
	[id_factura_emisor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_factura_fecha]    Script Date: 10/06/2026 23:28:49 ******/
CREATE NONCLUSTERED INDEX [idx_factura_fecha] ON [dbo].[factura]
(
	[fecha_emision] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_factura_numero]    Script Date: 10/06/2026 23:28:49 ******/
CREATE NONCLUSTERED INDEX [idx_factura_numero] ON [dbo].[factura]
(
	[numero_factura] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_factura_siifa]    Script Date: 10/06/2026 23:28:49 ******/
CREATE NONCLUSTERED INDEX [idx_factura_siifa] ON [dbo].[factura]
(
	[radicado_siifa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_factura_tipo]    Script Date: 10/06/2026 23:28:49 ******/
CREATE NONCLUSTERED INDEX [idx_factura_tipo] ON [dbo].[factura]
(
	[tipo_factura] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_factura_tercero_factura]    Script Date: 10/06/2026 23:28:49 ******/
CREATE NONCLUSTERED INDEX [idx_factura_tercero_factura] ON [dbo].[factura_tercero]
(
	[id_factura] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_factura_tercero_rol]    Script Date: 10/06/2026 23:28:49 ******/
CREATE NONCLUSTERED INDEX [idx_factura_tercero_rol] ON [dbo].[factura_tercero]
(
	[rol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_factura_tercero_tercero]    Script Date: 10/06/2026 23:28:49 ******/
CREATE NONCLUSTERED INDEX [idx_factura_tercero_tercero] ON [dbo].[factura_tercero]
(
	[id_tercero] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_SIIFA_Factura_Estado]    Script Date: 10/06/2026 23:28:49 ******/
CREATE NONCLUSTERED INDEX [IX_SIIFA_Factura_Estado] ON [dbo].[SIIFA_Factura]
(
	[EstadoProceso] ASC,
	[FechaConsulta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_SIIFA_Factura_NumeroNit]    Script Date: 10/06/2026 23:28:49 ******/
CREATE NONCLUSTERED INDEX [IX_SIIFA_Factura_NumeroNit] ON [dbo].[SIIFA_Factura]
(
	[NumeroFactura] ASC,
	[NitEmisor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UX_SIIFA_FacturaERP_SIIFA]    Script Date: 10/06/2026 23:28:49 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_SIIFA_FacturaERP_SIIFA] ON [dbo].[SIIFA_FacturaERP]
(
	[IdFacturaSIIFA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_SIIFA_FacturaTraza_Ejecucion]    Script Date: 10/06/2026 23:28:49 ******/
CREATE NONCLUSTERED INDEX [IX_SIIFA_FacturaTraza_Ejecucion] ON [dbo].[SIIFA_FacturaTraza]
(
	[IdEjecucion] ASC,
	[Fecha] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_SIIFA_FacturaTraza_Factura]    Script Date: 10/06/2026 23:28:49 ******/
CREATE NONCLUSTERED INDEX [IX_SIIFA_FacturaTraza_Factura] ON [dbo].[SIIFA_FacturaTraza]
(
	[IdFacturaSIIFA] ASC,
	[Fecha] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_SIIFA_IntegracionLog_Fecha]    Script Date: 10/06/2026 23:28:49 ******/
CREATE NONCLUSTERED INDEX [IX_SIIFA_IntegracionLog_Fecha] ON [dbo].[SIIFA_IntegracionLog]
(
	[FechaInicio] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_SIIFA_Radicado_Estado]    Script Date: 10/06/2026 23:28:49 ******/
CREATE NONCLUSTERED INDEX [IX_SIIFA_Radicado_Estado] ON [dbo].[SIIFA_Radicado]
(
	[Estado] ASC,
	[FechaRegistro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_SIIFA_Reintento_Pendiente]    Script Date: 10/06/2026 23:28:49 ******/
CREATE NONCLUSTERED INDEX [IX_SIIFA_Reintento_Pendiente] ON [dbo].[SIIFA_Reintento]
(
	[Estado] ASC,
	[ProximoIntento] ASC
)
WHERE ([Estado]='PENDIENTE')
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_terceros_nit]    Script Date: 10/06/2026 23:28:49 ******/
CREATE NONCLUSTERED INDEX [idx_terceros_nit] ON [dbo].[terceros]
(
	[nit] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_log_accesos_fecha]    Script Date: 10/06/2026 23:28:49 ******/
CREATE NONCLUSTERED INDEX [idx_log_accesos_fecha] ON [orq].[log_accesos]
(
	[fecha_intento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_logs_estado]    Script Date: 10/06/2026 23:28:49 ******/
CREATE NONCLUSTERED INDEX [idx_logs_estado] ON [orq].[log_procesos]
(
	[estado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_logs_servicio]    Script Date: 10/06/2026 23:28:49 ******/
CREATE NONCLUSTERED INDEX [idx_logs_servicio] ON [orq].[log_procesos]
(
	[servicio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_resultados_referencia]    Script Date: 10/06/2026 23:28:49 ******/
CREATE NONCLUSTERED INDEX [idx_resultados_referencia] ON [orq].[resultados_procesos]
(
	[referencia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_scheduler_activo]    Script Date: 10/06/2026 23:28:49 ******/
CREATE NONCLUSTERED INDEX [idx_scheduler_activo] ON [orq].[scheduler_jobs]
(
	[activo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_usuario_username]    Script Date: 10/06/2026 23:28:49 ******/
CREATE NONCLUSTERED INDEX [idx_usuario_username] ON [orq].[usuarios]
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_usuario_endpoints_user_method_path]    Script Date: 10/06/2026 23:28:49 ******/
CREATE NONCLUSTERED INDEX [IX_usuario_endpoints_user_method_path] ON [seg].[usuario_endpoints]
(
	[id_usuario] ASC,
	[metodo_http] ASC,
	[endpoint] ASC,
	[activo] ASC,
	[permitido] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [cfg].[CFG_Ambiente] ADD  CONSTRAINT [DF_CFG_Ambiente_Activo]  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [cfg].[CFG_BaseDatos] ADD  CONSTRAINT [DF_CFG_BaseDatos_Activa]  DEFAULT ((1)) FOR [Activa]
GO
ALTER TABLE [cfg].[CFG_Endpoint] ADD  CONSTRAINT [DF_CFG_Endpoint_Activo]  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [cfg].[CFG_HistorialConfiguracion] ADD  CONSTRAINT [DF_CFG_Historial_Usuario]  DEFAULT (suser_sname()) FOR [Usuario]
GO
ALTER TABLE [cfg].[CFG_HistorialConfiguracion] ADD  CONSTRAINT [DF_CFG_Historial_Fecha]  DEFAULT (sysutcdatetime()) FOR [FechaCambio]
GO
ALTER TABLE [dbo].[agendamiento] ADD  CONSTRAINT [DF_agendamiento_estado]  DEFAULT ((0)) FOR [estado]
GO
ALTER TABLE [dbo].[factura] ADD  DEFAULT (getdate()) FOR [fecha_creacion]
GO
ALTER TABLE [dbo].[factura] ADD  DEFAULT ((0)) FOR [radicado_siifa]
GO
ALTER TABLE [dbo].[SIIFA_Factura] ADD  CONSTRAINT [DF_SIIFA_Factura_FechaConsulta]  DEFAULT (getdate()) FOR [FechaConsulta]
GO
ALTER TABLE [dbo].[SIIFA_Factura] ADD  CONSTRAINT [DF_SIIFA_Factura_Estado]  DEFAULT ('PENDIENTE') FOR [EstadoProceso]
GO
ALTER TABLE [dbo].[SIIFA_FacturaERP] ADD  CONSTRAINT [DF_SIIFA_FacturaERP_FechaRelacion]  DEFAULT (getdate()) FOR [FechaRelacion]
GO
ALTER TABLE [dbo].[SIIFA_FacturaTraza] ADD  CONSTRAINT [DF_SIIFA_FacturaTraza_Fecha]  DEFAULT (getdate()) FOR [Fecha]
GO
ALTER TABLE [dbo].[SIIFA_IntegracionLog] ADD  DEFAULT ((0)) FOR [Procesadas]
GO
ALTER TABLE [dbo].[SIIFA_IntegracionLog] ADD  DEFAULT ((0)) FOR [Radicadas]
GO
ALTER TABLE [dbo].[SIIFA_IntegracionLog] ADD  DEFAULT ((0)) FOR [NoEncontradasERP]
GO
ALTER TABLE [dbo].[SIIFA_IntegracionLog] ADD  DEFAULT ((0)) FOR [NoRadicadasERP]
GO
ALTER TABLE [dbo].[SIIFA_IntegracionLog] ADD  DEFAULT ((0)) FOR [Errores]
GO
ALTER TABLE [dbo].[SIIFA_IntegracionLog] ADD  DEFAULT ((0)) FOR [Omitidas]
GO
ALTER TABLE [dbo].[SIIFA_LoteCheckpoint] ADD  CONSTRAINT [DF_SIIFA_LoteCheckpoint_Proceso]  DEFAULT ('RADICACION') FOR [Proceso]
GO
ALTER TABLE [dbo].[SIIFA_LoteCheckpoint] ADD  CONSTRAINT [DF_SIIFA_LoteCheckpoint_UltimaPag]  DEFAULT ((0)) FOR [UltimaPaginaProcesada]
GO
ALTER TABLE [dbo].[SIIFA_LoteCheckpoint] ADD  CONSTRAINT [DF_SIIFA_LoteCheckpoint_Completado]  DEFAULT ((0)) FOR [LoteCompletado]
GO
ALTER TABLE [dbo].[SIIFA_LoteCheckpoint] ADD  CONSTRAINT [DF_SIIFA_LoteCheckpoint_Fecha]  DEFAULT (getdate()) FOR [FechaActualizacion]
GO
ALTER TABLE [dbo].[SIIFA_Radicado] ADD  CONSTRAINT [DF_SIIFA_Radicado_Estado]  DEFAULT ('PENDIENTE') FOR [Estado]
GO
ALTER TABLE [dbo].[SIIFA_Radicado] ADD  CONSTRAINT [DF_SIIFA_Radicado_FechaRegistro]  DEFAULT (getdate()) FOR [FechaRegistro]
GO
ALTER TABLE [dbo].[SIIFA_Radicado] ADD  CONSTRAINT [DF_SIIFA_Radicado_SincronizadoERP]  DEFAULT ((0)) FOR [SincronizadoERP]
GO
ALTER TABLE [dbo].[SIIFA_Reintento] ADD  CONSTRAINT [DF_SIIFA_Reintento_Estado]  DEFAULT ('PENDIENTE') FOR [Estado]
GO
ALTER TABLE [dbo].[SIIFA_Reintento] ADD  CONSTRAINT [DF_SIIFA_Reintento_Intentos]  DEFAULT ((0)) FOR [Intentos]
GO
ALTER TABLE [dbo].[SIIFA_Reintento] ADD  CONSTRAINT [DF_SIIFA_Reintento_MaxIntentos]  DEFAULT ((5)) FOR [MaxIntentos]
GO
ALTER TABLE [dbo].[SIIFA_Reintento] ADD  CONSTRAINT [DF_SIIFA_Reintento_FechaCreacion]  DEFAULT (getdate()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[terceros] ADD  DEFAULT (getdate()) FOR [fecha_creacion]
GO
ALTER TABLE [orq].[agendamiento] ADD  CONSTRAINT [DF_agendamiento_fecha_creacion]  DEFAULT (getdate()) FOR [fecha_creacion]
GO
ALTER TABLE [orq].[agendamiento] ADD  CONSTRAINT [DF_agendamiento_estado]  DEFAULT ((0)) FOR [estado]
GO
ALTER TABLE [orq].[dispensacion] ADD  CONSTRAINT [DF_dispensacion_fecha_creacion]  DEFAULT (getdate()) FOR [fecha_creacion]
GO
ALTER TABLE [orq].[historia_clinica] ADD  CONSTRAINT [DF_historia_clinica_fecha_creacion]  DEFAULT (getdate()) FOR [fecha_creacion]
GO
ALTER TABLE [orq].[log_accesos] ADD  DEFAULT (sysdatetime()) FOR [fecha_intento]
GO
ALTER TABLE [orq].[log_procesos] ADD  DEFAULT ((1)) FOR [intentos]
GO
ALTER TABLE [orq].[log_procesos] ADD  DEFAULT (sysdatetime()) FOR [fecha_creacion]
GO
ALTER TABLE [orq].[resultados_procesos] ADD  DEFAULT (sysdatetime()) FOR [fecha_proceso]
GO
ALTER TABLE [orq].[resultados_procesos] ADD  DEFAULT (sysdatetime()) FOR [fecha_creacion]
GO
ALTER TABLE [orq].[scheduler_jobs] ADD  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [orq].[scheduler_jobs] ADD  DEFAULT ((3)) FOR [max_reintentos]
GO
ALTER TABLE [orq].[scheduler_jobs] ADD  DEFAULT (sysdatetime()) FOR [fecha_creacion]
GO
ALTER TABLE [orq].[usuarios] ADD  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [orq].[usuarios] ADD  DEFAULT (sysdatetime()) FOR [fecha_creacion]
GO
ALTER TABLE [orq].[usuarios] ADD  DEFAULT ((0)) FOR [tipo]
GO
ALTER TABLE [orq].[usuarios] ADD  CONSTRAINT [DF_usuarios_tipoentidad]  DEFAULT ('PROVEEDOR_TECNOLOGICO') FOR [tipoentidad]
GO
ALTER TABLE [orq].[usuarios] ADD  CONSTRAINT [DF_usuarios_nitentidad]  DEFAULT ('SIN_NIT') FOR [nitentidad]
GO
ALTER TABLE [orq].[usuarios] ADD  CONSTRAINT [DF_usuarios_nombreentidad]  DEFAULT ('NO DEFINIDO') FOR [nombreentidad]
GO
ALTER TABLE [seg].[modulos] ADD  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [seg].[perfiles] ADD  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [seg].[perfiles] ADD  DEFAULT (getdate()) FOR [fecha_creacion]
GO
ALTER TABLE [seg].[permisos] ADD  DEFAULT ((1)) FOR [permitido]
GO
ALTER TABLE [seg].[usuario_endpoints] ADD  CONSTRAINT [DF_usuario_endpoints_permitido]  DEFAULT ((1)) FOR [permitido]
GO
ALTER TABLE [seg].[usuario_endpoints] ADD  CONSTRAINT [DF_usuario_endpoints_activo]  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [seg].[usuario_endpoints] ADD  CONSTRAINT [DF_usuario_endpoints_fecha_creacion]  DEFAULT (getdate()) FOR [fecha_creacion]
GO
ALTER TABLE [cfg].[CFG_BaseDatos]  WITH CHECK ADD  CONSTRAINT [FK_CFG_BaseDatos_Ambiente] FOREIGN KEY([IdAmbiente])
REFERENCES [cfg].[CFG_Ambiente] ([IdAmbiente])
GO
ALTER TABLE [cfg].[CFG_BaseDatos] CHECK CONSTRAINT [FK_CFG_BaseDatos_Ambiente]
GO
ALTER TABLE [cfg].[CFG_EndpointBaseDatos]  WITH CHECK ADD  CONSTRAINT [FK_CFG_EndpointBaseDatos_BaseDatos] FOREIGN KEY([IdBaseDatos])
REFERENCES [cfg].[CFG_BaseDatos] ([IdBaseDatos])
GO
ALTER TABLE [cfg].[CFG_EndpointBaseDatos] CHECK CONSTRAINT [FK_CFG_EndpointBaseDatos_BaseDatos]
GO
ALTER TABLE [cfg].[CFG_EndpointBaseDatos]  WITH CHECK ADD  CONSTRAINT [FK_CFG_EndpointBaseDatos_Endpoint] FOREIGN KEY([IdEndpoint])
REFERENCES [cfg].[CFG_Endpoint] ([IdEndpoint])
GO
ALTER TABLE [cfg].[CFG_EndpointBaseDatos] CHECK CONSTRAINT [FK_CFG_EndpointBaseDatos_Endpoint]
GO
ALTER TABLE [dbo].[actividad]  WITH CHECK ADD FOREIGN KEY([historia_id])
REFERENCES [dbo].[historia_clinica] ([id])
GO
ALTER TABLE [dbo].[actividad]  WITH CHECK ADD FOREIGN KEY([historia_id])
REFERENCES [dbo].[historia_clinica] ([id])
GO
ALTER TABLE [dbo].[factura_tercero]  WITH CHECK ADD  CONSTRAINT [FK_factura_tercero_factura] FOREIGN KEY([id_factura])
REFERENCES [dbo].[factura] ([id_factura])
GO
ALTER TABLE [dbo].[factura_tercero] CHECK CONSTRAINT [FK_factura_tercero_factura]
GO
ALTER TABLE [dbo].[factura_tercero]  WITH CHECK ADD  CONSTRAINT [FK_factura_tercero_tercero] FOREIGN KEY([id_tercero])
REFERENCES [dbo].[terceros] ([id_tercero])
GO
ALTER TABLE [dbo].[factura_tercero] CHECK CONSTRAINT [FK_factura_tercero_tercero]
GO
ALTER TABLE [dbo].[SIIFA_Factura]  WITH CHECK ADD  CONSTRAINT [FK_SIIFA_Factura_Ejecucion] FOREIGN KEY([IdEjecucion])
REFERENCES [dbo].[SIIFA_IntegracionLog] ([IdEjecucion])
GO
ALTER TABLE [dbo].[SIIFA_Factura] CHECK CONSTRAINT [FK_SIIFA_Factura_Ejecucion]
GO
ALTER TABLE [dbo].[SIIFA_FacturaERP]  WITH CHECK ADD  CONSTRAINT [FK_SIIFA_FacturaERP_Factura] FOREIGN KEY([IdFacturaSIIFA])
REFERENCES [dbo].[SIIFA_Factura] ([IdFacturaSIIFA])
GO
ALTER TABLE [dbo].[SIIFA_FacturaERP] CHECK CONSTRAINT [FK_SIIFA_FacturaERP_Factura]
GO
ALTER TABLE [dbo].[SIIFA_Radicado]  WITH CHECK ADD  CONSTRAINT [FK_SIIFA_Radicado_Factura] FOREIGN KEY([IdFacturaSIIFA])
REFERENCES [dbo].[SIIFA_Factura] ([IdFacturaSIIFA])
GO
ALTER TABLE [dbo].[SIIFA_Radicado] CHECK CONSTRAINT [FK_SIIFA_Radicado_Factura]
GO
ALTER TABLE [dbo].[SIIFA_Reintento]  WITH CHECK ADD  CONSTRAINT [FK_SIIFA_Reintento_Factura] FOREIGN KEY([IdFacturaSIIFA])
REFERENCES [dbo].[SIIFA_Factura] ([IdFacturaSIIFA])
GO
ALTER TABLE [dbo].[SIIFA_Reintento] CHECK CONSTRAINT [FK_SIIFA_Reintento_Factura]
GO
ALTER TABLE [orq].[dispensacion_diagnostico]  WITH CHECK ADD  CONSTRAINT [FK_dispensacion_diagnostico_dispensacion] FOREIGN KEY([dispensacion_id])
REFERENCES [orq].[dispensacion] ([id])
GO
ALTER TABLE [orq].[dispensacion_diagnostico] CHECK CONSTRAINT [FK_dispensacion_diagnostico_dispensacion]
GO
ALTER TABLE [orq].[dispensacion_paciente]  WITH CHECK ADD  CONSTRAINT [FK_dispensacion_paciente_dispensacion] FOREIGN KEY([dispensacion_id])
REFERENCES [orq].[dispensacion] ([id])
GO
ALTER TABLE [orq].[dispensacion_paciente] CHECK CONSTRAINT [FK_dispensacion_paciente_dispensacion]
GO
ALTER TABLE [orq].[dispensacion_prescripcion]  WITH CHECK ADD  CONSTRAINT [FK_dispensacion_prescripcion_dispensacion] FOREIGN KEY([dispensacion_id])
REFERENCES [orq].[dispensacion] ([id])
GO
ALTER TABLE [orq].[dispensacion_prescripcion] CHECK CONSTRAINT [FK_dispensacion_prescripcion_dispensacion]
GO
ALTER TABLE [orq].[dispensacion_prestador]  WITH CHECK ADD  CONSTRAINT [FK_dispensacion_prestador_dispensacion] FOREIGN KEY([dispensacion_id])
REFERENCES [orq].[dispensacion] ([id])
GO
ALTER TABLE [orq].[dispensacion_prestador] CHECK CONSTRAINT [FK_dispensacion_prestador_dispensacion]
GO
ALTER TABLE [orq].[dispensacion_producto]  WITH CHECK ADD  CONSTRAINT [FK_dispensacion_producto_dispensacion] FOREIGN KEY([dispensacion_id])
REFERENCES [orq].[dispensacion] ([id])
GO
ALTER TABLE [orq].[dispensacion_producto] CHECK CONSTRAINT [FK_dispensacion_producto_dispensacion]
GO
ALTER TABLE [orq].[historia_clinica_actividad]  WITH CHECK ADD  CONSTRAINT [FK_historia_clinica_actividad_historia] FOREIGN KEY([historia_id])
REFERENCES [orq].[historia_clinica] ([id])
GO
ALTER TABLE [orq].[historia_clinica_actividad] CHECK CONSTRAINT [FK_historia_clinica_actividad_historia]
GO
ALTER TABLE [seg].[permisos]  WITH CHECK ADD  CONSTRAINT [FK_permiso_accion] FOREIGN KEY([id_accion])
REFERENCES [seg].[acciones] ([id_accion])
GO
ALTER TABLE [seg].[permisos] CHECK CONSTRAINT [FK_permiso_accion]
GO
ALTER TABLE [seg].[permisos]  WITH CHECK ADD  CONSTRAINT [FK_permiso_modulo] FOREIGN KEY([id_modulo])
REFERENCES [seg].[modulos] ([id_modulo])
GO
ALTER TABLE [seg].[permisos] CHECK CONSTRAINT [FK_permiso_modulo]
GO
ALTER TABLE [seg].[permisos]  WITH CHECK ADD  CONSTRAINT [FK_permiso_perfil] FOREIGN KEY([id_perfil])
REFERENCES [seg].[perfiles] ([id_perfil])
GO
ALTER TABLE [seg].[permisos] CHECK CONSTRAINT [FK_permiso_perfil]
GO
ALTER TABLE [seg].[usuario_endpoints]  WITH CHECK ADD  CONSTRAINT [FK_usuario_endpoints_usuarios] FOREIGN KEY([id_usuario])
REFERENCES [orq].[usuarios] ([id])
GO
ALTER TABLE [seg].[usuario_endpoints] CHECK CONSTRAINT [FK_usuario_endpoints_usuarios]
GO
ALTER TABLE [seg].[usuario_perfil]  WITH CHECK ADD  CONSTRAINT [FK_usuario_perfil] FOREIGN KEY([id_perfil])
REFERENCES [seg].[perfiles] ([id_perfil])
GO
ALTER TABLE [seg].[usuario_perfil] CHECK CONSTRAINT [FK_usuario_perfil]
GO
ALTER TABLE [cfg].[CFG_BaseDatos]  WITH CHECK ADD  CONSTRAINT [CK_CFG_BaseDatos_Motor] CHECK  (([Motor]='SQLSERVER' OR [Motor]='POSTGRESQL'))
GO
ALTER TABLE [cfg].[CFG_BaseDatos] CHECK CONSTRAINT [CK_CFG_BaseDatos_Motor]
GO
ALTER TABLE [cfg].[CFG_Endpoint]  WITH CHECK ADD  CONSTRAINT [CK_CFG_Endpoint_Metodo] CHECK  (([Metodo]='DELETE' OR [Metodo]='PATCH' OR [Metodo]='PUT' OR [Metodo]='POST' OR [Metodo]='GET'))
GO
ALTER TABLE [cfg].[CFG_Endpoint] CHECK CONSTRAINT [CK_CFG_Endpoint_Metodo]
GO
ALTER TABLE [dbo].[factura]  WITH CHECK ADD  CONSTRAINT [chk_siifa_radicado] CHECK  (([radicado_siifa]=(0) OR [radicado_siifa]=(1) AND [fecha_rad_siifa] IS NOT NULL))
GO
ALTER TABLE [dbo].[factura] CHECK CONSTRAINT [chk_siifa_radicado]
GO
/****** Object:  StoredProcedure [cfg].[usp_RegistrarHistorialConfig]    Script Date: 10/06/2026 23:28:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [cfg].[usp_RegistrarHistorialConfig]
    @TablaAfectada  VARCHAR(128),
    @Registro       NVARCHAR(500),
    @ValorAnterior  NVARCHAR(MAX),
    @ValorNuevo     NVARCHAR(MAX),
    @Usuario        VARCHAR(128) = NULL
AS
BEGIN
    SET NOCOUNT ON;
    INSERT INTO cfg.CFG_HistorialConfiguracion
        (TablaAfectada, Registro, ValorAnterior, ValorNuevo, Usuario)
    VALUES
        (@TablaAfectada, @Registro, @ValorAnterior, @ValorNuevo, COALESCE(@Usuario, SUSER_SNAME()));
END
GO
USE [master]
GO
